<head>
</head>

<body>

    <div align="center">
      <img class="user-picture" src=" <%= @user["image"][2]["content"] %>   ">
      <h1 class="user-name">Hello, <%= @user[ "name"] %></h1>
    </div>

		<div class = "container text-center ">

      <% @friends.each do |friend| %>
        <div class = "row user">

            <%= link_to user_path(friend["name"]) do%>

              <img class="user-picture" src=" <%= friend["image"][2]["content"] %>   ">


            <% end %>

          <br>

          <%= link_to user_path(friend["name"]) do%>
            <h4 class="friends-name text-center"><%= friend["name"] %> </h4>
          <% end %>
        </div>
      <% end %>

			
		</div>


    <div align="center">
    <%= link_to login_path do%>
        <h4 class="friends-name text-center" style="color: #B90000"> LOGOUT </h4>
    <% end %>
    </div>

</body>

